@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: var(--font-barlow);
  --font-body: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-tinta font-body antialiased;
}

::selection {
  @apply bg-grana text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
